body {
    padding: 50px;
    font-family: "Myriad Set Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: 0em;
    color: #333;
}

.container {
    max-width: 800px;
    margin: auto;
}

#home {
    text-align: center;
}

#content {
}

h1, h2, h3 {
    margin: 30px auto;
    max-width: 800px;
}

#content img {
    width: 100%;
    max-width: 800px;
}

#logo {
    width: 100%;
    max-width: 400px;
}

#content #logo {
    max-width: 200px;
}

#home p {
    margin: 30px auto;
    text-align: center;
}

#home ul.action-links {
    margin: 50px 0px 0px 0px;
    padding: 0px;
    list-style: none;
}

#home ul.action-links li {
    padding: 0px;
    margin: 5px;
}

#content p {
    margin: 30px auto;
    max-width: 800px;
}

#content ul {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#content ul li {
    margin: 15px;
    text-align: left;
}
